In [2]:
import pandas as pd
import numpy as np

In [3]:
school_csv = "raw_data/schools_complete.csv"
students_csv = "raw_data/students_complete.csv"
school_df = pd.read_csv(school_csv)
students_df = pd.read_csv(students_csv)
total_school =school_df['name'].count()
total_student=students_df["Student ID"].count()
#Per_Student_Budget=school_df['budget']/total_student
total_budget=school_df["budget"].sum()
#tot_math_score=students_df["math_score"].sum() 
#tot_read_score=students_df["reading_score"].sum() 
avg_math_score=students_df["math_score"].mean()
avg_read_score=students_df["reading_score"].mean()
 
#perc_math=students_df.loc[students_df["math_score"]>70].count()
#print(perc_math)
perc_math=(students_df["math_score"][students_df.math_score > 70].count()/total_students) * 100
#perc_math_1=(perc_math/total_student)*100
#perc_read=students_df.loc[students_df["reading_score"]>70].count()
#print(perc_read)
#perc_read_1=(perc_read/total_student)*100
perc_read=(students_df["reading_score"][students_df.reading_score > 70].count()/total_students) * 100

#perc_total=students_df.loc[(students_df["math_score"] > 70)&(students_df["reading_score"]>70),"name"]
perc_total=(perc_read+perc_math)/2
#perc_tot_2=perc_total.count()
#perc_tot_1=(perc_tot_2/total_student)*100
total = pd.DataFrame({"Total Schools": [total_school],
                                   "Total Students": [total_student],
                                   "Total Budget": [total_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_read_score],
                                   "% Passing Math":[perc_math],
                                   "% Passing Reading":[perc_read],
                                   "% Overall Passing Rate": [perc_total]
                                   
})
total=total[["Total Schools",
                                   "Total Students",
                                   "Total Budget",
                                   "Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing Rate"]]
total=total.round(2)
total

NameError: name 'total_students' is not defined

In [ ]:
merge_df_1=pd.merge(left=students_df, right=school_df, 
how='left', left_on='school',
right_on='name')
merge_df_1.head()

In [491]:
school_df_2= merge_df_1[['Student ID','school','type','size','budget','reading_score','math_score']]
school_df_2.head()

,Student ID,school,type,size,budget,reading_score,math_score
0,0,Huang High School,District,2917,1910635,66,79
1,1,Huang High School,District,2917,1910635,94,61
2,2,Huang High School,District,2917,1910635,90,60
3,3,Huang High School,District,2917,1910635,67,58
4,4,Huang High School,District,2917,1910635,97,84

In [711]:
#School Summary

school_summary=school_df_2.set_index('school').groupby(['school'])
#school_df.head()
school_types = school_df.set_index('name')['type']
#school_types
school_total_stu = school_summary['Student ID'].count()
#school_total_stu
school_total_budget=school_df.set_index('name')['budget']
#school_total_budget
per_stud_budget=school_total_budget/school_total_stu
#per_stud_budget
avg_math_school=school_summary['math_score'].mean()
#avg_math_school
avg_read_school=school_summary['reading_score'].mean()
#avg_read_school
pass_math=school_df_2[school_df_2['math_score']>70].groupby(['school']).count()['Student ID']
perc_pass_math=(pass_math/school_total_stu)*100
#perc_pass_math
pass_read=school_df_2[school_df_2['reading_score']>70].groupby(['school']).count()['Student ID']
perc_pass_read=(pass_read/school_total_stu)*100
#perc_pass_read
overall_pass=(perc_pass_read+perc_pass_math)/2
#overall_pass
SchoolSummary=pd.DataFrame({"School Type": school_types,
                                   "Total Students": school_total_stu,
                                   "Total Budget": school_total_budget,
                                    "Per Student budget":per_stud_budget,
                                   "Average Math Score": avg_math_school,
                                   "Average Reading Score": avg_read_school,
                                   "% Passing Math":perc_pass_math,
                                   "% Passing Reading":perc_pass_read,
                                   "% Overall Passing Rate": overall_pass
                                   
})






SchoolSummary=SchoolSummary[["School Type",
                                   "Total Students",
                                   "Total Budget",
                                    "Per Student budget",
                                   "Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing Rate"]]
SchoolSummary=SchoolSummary.round(2)
SchoolSummary

SchoolSummary["% Passing Math"] = SchoolSummary["% Passing Math"].map("{0:,.2f}%".format)
SchoolSummary["% Passing Reading"] = SchoolSummary["% Passing Reading"].map("{0:,.2f}%".format)
SchoolSummary["% Overall Passing Rate"] = SchoolSummary["% Overall Passing Rate"].map("{0:,.2f}%".format)
SchoolSummary

,School Type,Total Students,Total Budget,Per Student budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.05,81.03,64.63%,79.30%,71.97%
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,89.56%,93.86%,91.71%
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,63.75%,78.43%,71.09%
Ford High School,District,2739,1763916,644.0,77.10,80.75,65.75%,77.51%,71.63%
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,89.71%,93.39%,91.55%
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,64.75%,78.19%,71.47%
Holden High School,Charter,427,248087,581.0,83.80,83.81,90.63%,92.74%,91.69%
Huang High School,District,2917,1910635,655.0,76.63,81.18,63.32%,78.81%,71.07%
Johnson High School,District,4761,3094650,650.0,77.07,80.97,63.85%,78.28%,71.07%
Pena High School,Charter,962,585858,609.0,83.84,84.04,91.68%,92.20%,91.94%
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,64.07%,77.74%,70.91%
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,89.89%,92.62%,91.25%
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,90.21%,92.91%,91.56%
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,90.93%,93.25%,92.09%
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,90.28%,93.44%,91.86%

In [552]:
#Top Performing Schools (By Passing Rate)
top_5_schools = SchoolSummary.sort_values(["% Overall Passing Rate"], ascending=False)
top_5_schools.head()

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Wilson High School,Charter,2283,1319574,83.27,83.99,90.93%,93.25%,92.09%
Pena High School,Charter,962,585858,83.84,84.04,91.68%,92.20%,91.94%
Wright High School,Charter,1800,1049400,83.68,83.96,90.28%,93.44%,91.86%
Cabrera High School,Charter,1858,1081356,83.06,83.98,89.56%,93.86%,91.71%
Holden High School,Charter,427,248087,83.80,83.81,90.63%,92.74%,91.69%

In [555]:
#Bottom Performing Schools (By Passing Rate)


bottom_5_schools = SchoolSummary.sort_values(["% Overall Passing Rate"], ascending=True)
bottom_5_schools.head()

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363,76.84,80.74,64.07%,77.74%,70.91%
Huang High School,District,2917,1910635,76.63,81.18,63.32%,78.81%,71.07%
Johnson High School,District,4761,3094650,77.07,80.97,63.85%,78.28%,71.07%
Figueroa High School,District,2949,1884411,76.71,81.16,63.75%,78.43%,71.09%
Hernandez High School,District,4635,3022020,77.29,80.93,64.75%,78.19%,71.47%

In [576]:
#Math Scores by Grade

grade_stud_df=students_df.set_index(['school'])
#grade_stud_df
grade_stud_df_9th=grade_stud_df[grade_stud_df["grade"]=='9th'].groupby('school').mean()["math_score"]
#grade_stud_df_9th
grade_stud_df_10th=grade_stud_df[grade_stud_df["grade"]=='10th'].groupby('school').mean()["math_score"]
#grade_stud_df_10th
grade_stud_df_11th=grade_stud_df[grade_stud_df["grade"]=='11th'].groupby('school').mean()["math_score"]
#grade_stud_df_11th
grade_stud_df_12th=grade_stud_df[grade_stud_df["grade"]=='12th'].groupby('school').mean()["math_score"]
#grade_stud_df_12th

grade_stud_df_math=pd.DataFrame({"9th": grade_stud_df_9th,
                                   "10th": grade_stud_df_10th,
                                   "11th": grade_stud_df_11th,
                                   "12th": grade_stud_df_12th
                                   
})






grade_stud_df_math=grade_stud_df_math[["9th",
                                   "10th",
                                   "11th",
                                   "12th"]]
grade_stud_df_math=grade_stud_df_math.round(3)
grade_stud_df_math

                          9th    10th    11th    12th
school
Bailey High School     77.084  76.997  77.516  76.492
Cabrera High School    83.095  83.155  82.766  83.277
Figueroa High School   76.403  76.540  76.884  77.151
Ford High School       77.361  77.672  76.918  76.180
Griffin High School    82.044  84.229  83.842  83.356
Hernandez High School  77.438  77.337  77.136  77.187
Holden High School     83.787  83.430  85.000  82.855
Huang High School      77.027  75.909  76.447  77.226
Johnson High School    77.188  76.691  77.492  76.863
Pena High School       83.625  83.372  84.328  84.122
Rodriguez High School  76.860  76.612  76.396  77.691
Shelton High School    83.421  82.917  83.383  83.779
Thomas High School     83.590  83.088  83.499  83.497
Wilson High School     83.086  83.724  83.195  83.036
Wright High School     83.265  84.010  83.837  83.645

In [575]:
#Reading Scores by Grade

grade_stud_df=students_df.set_index(['school'])
#grade_stud_df
grade_stud_df_9th_r=grade_stud_df[grade_stud_df["grade"]=='9th'].groupby('school').mean()["reading_score"]
#grade_stud_df_9th
grade_stud_df_10th_r=grade_stud_df[grade_stud_df["grade"]=='10th'].groupby('school').mean()["reading_score"]
#grade_stud_df_10th
grade_stud_df_11th_r=grade_stud_df[grade_stud_df["grade"]=='11th'].groupby('school').mean()["reading_score"]
#grade_stud_df_11th
grade_stud_df_12th_r=grade_stud_df[grade_stud_df["grade"]=='12th'].groupby('school').mean()["reading_score"]
#grade_stud_df_12th

grade_stud_df_read=pd.DataFrame({"9th": grade_stud_df_9th_r,
                                   "10th": grade_stud_df_10th_r,
                                   "11th": grade_stud_df_11th_r,
                                   "12th": grade_stud_df_12th_r
                                   
})






grade_stud_df_read=grade_stud_df_read[["9th",
                                   "10th",
                                   "11th",
                                   "12th"]]
grade_stud_df_read=grade_stud_df_read.round(3)
grade_stud_df_read

                          9th    10th    11th    12th
school
Bailey High School     81.303  80.907  80.946  80.912
Cabrera High School    83.676  84.253  83.788  84.288
Figueroa High School   81.199  81.409  80.640  81.385
Ford High School       80.633  81.263  80.404  80.662
Griffin High School    83.369  83.707  84.288  84.014
Hernandez High School  80.867  80.660  81.396  80.857
Holden High School     83.677  83.325  83.816  84.699
Huang High School      81.290  81.512  81.417  80.306
Johnson High School    81.261  80.773  80.616  81.228
Pena High School       83.807  83.612  84.336  84.591
Rodriguez High School  80.993  80.630  80.865  80.376
Shelton High School    84.123  83.442  84.374  82.782
Thomas High School     83.729  84.254  83.586  83.831
Wilson High School     83.940  84.021  83.765  84.318
Wright High School     83.833  83.813  84.156  84.073

In [709]:
#Scores by School Spending


#SchoolBins=SchoolSummary.reset_index(drop=True)
SchoolBins_grp=SchoolSummary[['Per Student budget','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']]
#SchoolBins_grp

In [1]:
# Create labels for these bins
                                   
bins = [0,585,615,645,675]
group_labels = ["<$585","$585-615","$615-645","$645-675"]
SchoolBins_grp["Spending Ranges (Per Student)"] = pd.cut(SchoolBins_grp["Per Student budget"],bins,labels=group_labels)
#SchoolBins_grp
math_spend = SchoolBins_grp.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
#math_spend
reading_spend = SchoolBins_grp.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
#reading_spend
#SchoolBins_grp
passing_math_spend = SchoolBins_grp.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
#passing_math_spend
passing_reading_spend = SchoolBins_grp.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
#passing_reading_spend
total_spend = (passing_reading_spend + passing_math_spend) / 2
#total_spend

NameError: name 'pd' is not defined